<% if flash[:notice] %>
  <div class="alert alert-success">
    <p id="notice"><%= notice %></p>
  </div>
<% elsif flash[:alert] %>
  <div class="alert alert-warning">
    <p id="notice"><%= alert %></p>
  </div>
<% end %>

<h2><%= @todo_list.title %></h2>
<p><%= @todo_list.description %></p>

<table>
    <tbody>
      <%= render @todo_list.todo_items %>
    </tbody>
</table>

<br>
<hr>
<br>

<table>
  <tbody>
    <div class="form-group">
      <%= render "todo_items/form" %>
    </div>
  </tbody>
</table>

<div class="links">
  <%= link_to 'Back', todo_lists_path %> |
  <%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
  <%= link_to 'Delete', @todo_list, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
