<!DOCTYPE html>
<html>
  <head>
    <title>FantasticSystem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <header>
        <div class="header_inner">
          <nav style="text-align: right;">
            <% if user_signed_in? %>
              <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to "Log in", new_user_session_path %>
            <% end %>
          </nav>
        </div>
      </header>
      <%= yield %>
    </div>
  </body>
</html>
